<a href="https://colab.research.google.com/github/jaxonyue/Jaxon-Yue-Mini-Project-9/blob/main/Mini%20Project%209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
wages_1 = pd.read_csv('Development of Average Annual Wages_1.csv')
wages_2 = pd.read_csv('Development of Average Annual Wages_2.csv')

Top 5 countries with the highest 2020 annual average wages

In [ ]:
wages_1.sort_values('2020', ascending = False).head(5)

Top 5 countries with the lowest 2020 annual average wages

In [ ]:
wages_2.sort_values('2022', ascending = True).head(5)

Merge the two tables to have data from 2000 to 2022

In [ ]:
wages_3 = pd.merge(wages_1, wages_2)
wages_3.head()

The min, mean, median, and max of 2022 numbers

In [17]:
min = np.min(wages_3['2020'])
mean = np.mean(wages_3['2020'])
median = np.median(wages_3['2020'])
max = np.max(wages_3['2020'])
min, mean, median, max

(17467, 47462.94736842105, 48449.5, 77567)